<div id="back">
    <div class="backRight"></div>
    <div class="backLeft"></div>
  </div>
  
  <div id="slideBox">
    <div class="topLayer">
      <div class="left">
        <div class="content">
          <h2>Sign Up</h2>
          <form method="post" onsubmit="return false;">
            <div class="form-group">
              <input type="text" placeholder="username" />
            </div>
            <div class="form-group"></div>
            <div class="form-group"></div>
            <div class="form-group"></div>
          </form>
          <button id="goLeft" class="off">Login</button>
          <button>Sign up</button>
        </div>
      </div>
      <div class="right">
        <div class="content">
          <h2>Login</h2>
          <form method="post" [formGroup]="login_form"  >
 

            <div class="form-group" >
              <label for="username" class="form-label" style="padding-right: 5px">Username</label>
              <input type="text"   formControlName="username" required #username name="username"/>

              <label for="username" class="form-label"  style="padding-right: 5px"> Password</label>
              <input type="password" formControlName="password" required #password name="password" />
            </div>
            <button id="goRight" class="off">Sign Up</button>
            <button id="login" type="submit" (click)="login(login_form.value)">Login</button>
         
        </form>
        </div>
      </div>
    </div>
  </div>
  
  <!--Inspiration from: http://ertekinn.com/loginsignup/-->